<nav
  class="relative top-0 z-10 w-full px-1.5 py-3 bg-[#fff] border-gray-200 sm:pt-4 sm:px-6 md:px-8 max-w-[1530px] mx-auto"
>
  <div
    class="lg:gap-3 whitespace-nowrap flex items-center justify-between gap-2 mx-auto"
  >
    <div class="md:w-auto flex gap-10">
      <div class="md:w-auto flex justify-between">
        <a
          routerLink="/"
          class="rtl:space-x-reverse flex items-center space-x-3"
          (click)="goHome()"
        >
          <img
            src="/assets/images/logo.jpg"
            class="min-w-10 lg:w-14 lg:h-12 h-10"
            alt="DangKhoa Shop Logo"
          />
        </a>
      </div>
      <div
        class="lg:flex lg:w-auto lg:order-1 items-center justify-between hidden"
      >
        <ul
          class="xl:gap-3 lg:flex-row lg:mt-0 rtl:space-x-reverse flex flex-col gap-1 mt-4 font-medium"
        >
          <li class="flex items-center">
            <a
              routerLink="/home"
              [class.text-violet-600]="homeActive"
              [class.border-b-2]="homeActive"
              [class.border-[#5766dc]]="homeActive"
              class="hover:bg-gray-50 md:hover:bg-transparent md:hover:text-violet-600 items-center block p-2 text-black"
            >
              Home
            </a>
          </li>
          <li class="flex items-center">
            <a
              routerLink="/collection"
              routerLinkActive="text-violet-600 border-b-2 border-[#5766dc]"
              class="hover:bg-gray-50 md:hover:bg-transparent md:hover:text-violet-600 items-center block p-2 text-black"
            >
              Collection
            </a>
          </li>
          <li class="flex items-center">
            <a
              routerLink="/about"
              routerLinkActive="text-violet-600 border-b-2 border-[#5766dc]"
              class="hover:bg-gray-50 md:hover:bg-transparent md:hover:text-violet-600 items-center block p-2 text-black"
            >
              About
            </a>
          </li>
          <li class="flex items-center">
            <a
              routerLink="/contact"
              routerLinkActive="text-violet-600 border-b-2 border-[#5766dc]"
              class="hover:bg-gray-50 md:hover:bg-transparent md:hover:text-violet-600 items-center block p-2 text-black"
            >
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="lg:gap-3 sm:w-auto flex items-center justify-between gap-2">
      <div class="relative w-auto select-none" #searchWrapper>
        <button
          type="button"
          class="relative flex items-center h-10 p-2.5 lg:p-2.5 font-medium border border-gray-300 cursor-pointer select-none rounded-lg lg:h-auto"
          (click)="toggleSearch()"
          aria-label="Search"
        >
          <div
            class="flex items-center justify-between w-full gap-2 cursor-pointer"
          >
            <div class="flex items-center gap-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m21 21-4.35-4.35m0 0A7.5 7.5 0 1 0 5.25 5.25a7.5 7.5 0 0 0 11.4 11.4Z"
                />
              </svg>
            </div>
          </div>
        </button>

        <div
          *ngIf="searchOpen"
          class="top-12 w-72 absolute right-0 z-40 p-3 bg-white border border-gray-200 rounded-lg shadow-lg"
        >
          <form (ngSubmit)="onSearchSubmit()" class="flex items-center gap-2">
            <input
              [(ngModel)]="searchTerm"
              name="searchTerm"
              type="text"
              autocomplete="off"
              placeholder="Search products..."
              class="focus:border-violet-600 focus:outline-none w-full px-3 py-2 text-sm border border-gray-300 rounded-lg"
            />
            <button
              type="submit"
              class="flex items-center justify-center rounded-lg bg-[#5766dc] px-2.5 py-2 text-white hover:bg-[#2d3fca]"
              aria-label="Search"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m21 21-4.35-4.35m0 0A7.5 7.5 0 1 0 5.25 5.25a7.5 7.5 0 0 0 11.4 11.4Z"
                />
              </svg>
            </button>
            <button
              *ngIf="searchTerm"
              type="button"
              class="flex items-center justify-center rounded-lg border border-gray-200 px-2.5 py-2 text-gray-500 hover:bg-gray-50"
              aria-label="Clear search"
              (click)="clearSearch()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
          </form>
        </div>
      </div>

      <div class="relative w-auto select-none">
        <div
          class="relative flex items-center h-10 p-2.5 lg:p-2.5 font-medium border border-gray-300 cursor-pointer select-none rounded-lg lg:h-auto"
          routerLink="/cart"
        >
          <div
            class="flex items-center justify-between w-full gap-2 cursor-pointer"
          >
            <div class="flex items-center gap-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                />
              </svg>
            </div>
          </div>

          <ng-container *ngIf="cartCount > 0">
            <div
              class="-right-2 -top-2 absolute z-30 flex items-center justify-center w-6 h-6 bg-red-500 rounded-full"
            >
              <span class="text-xs leading-none text-white">
                {{ cartCount }}
              </span>
            </div>
          </ng-container>
        </div>
      </div>

      <div
        class="relative w-auto select-none"
        id="dropdownSelectNetwork"
        data-dropdown-toggle="dropdownSelectNetworkToggle"
        *ngIf="isLogin"
      >
        <div
          class="relative flex items-center h-10 p-2.5 lg:p-2.5 font-medium border border-gray-300 cursor-pointer select-none rounded-lg lg:h-auto"
          (click)="openUserMenu()"
        >
          <div
            class="flex items-center justify-between w-full gap-2 cursor-pointer"
          >
            <div class="flex items-center gap-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg>
            </div>
          </div>
        </div>

        <div
          class="shadow-card top-14 min-w-32 set-transform absolute right-0 z-30 hidden w-full overflow-auto bg-white border border-gray-100 rounded-lg"
          id="dropdownSelectNetworkToggle"
          aria-labelledby="dropdownSelectNetwork"
          aria-hidden="true"
        >
          <ul class="item">
            <li
              routerLink="/profile"
              class="hover:bg-slate-100 relative flex items-center gap-3 p-3 cursor-pointer"
            >
              <span>Profile</span>
            </li>
            <li
              routerLink="/order"
              class="hover:bg-slate-100 relative flex items-center gap-3 p-3 cursor-pointer"
            >
              <span>Order</span>
            </li>
            <li
              routerLink="/admin"
              class="hover:bg-slate-100 relative flex items-center gap-3 p-3 cursor-pointer"
              *ngIf="isAdmin === 1"
            >
              <span>Admin</span>
            </li>
            <li
              class="hover:bg-slate-100 relative flex items-center gap-3 p-3 cursor-pointer"
              (click)="onLogout()"
            >
              <span>Log out</span>
            </li>
          </ul>
        </div>
      </div>

      <ng-container *ngIf="!isLogin">
        <button
          class="px-4 py-2 text-white transition-colors duration-200 rounded-lg shadow-md lg:p-2.5 lg:px-5 focus:border-0 focus:outline-none hover:bg-[#2d3fca] bg-[#5766dc]"
          routerLink="/login"
          matRipple
          matRippleColor="#ffffff80"
        >
          <div class="flex items-center gap-2">
            <span class=""> Login </span>
          </div>
        </button>
      </ng-container>

      <button
        class="flex lg:hidden cursor-pointer w-10 h-10 lg:w-11 lg:h-11 justify-center items-center rounded-lg bg-[#f3f4f6]"
        type="button"
        data-drawer-target="drawer-navigation"
        data-drawer-show="drawer-navigation"
        aria-controls="drawer-navigation"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>

<ng-container>
  <!-- drawer component -->
  <div
    id="drawer-navigation"
    class="lg:hidden fixed top-0 left-0 z-40 block w-64 h-screen p-3 overflow-y-auto transition-transform -translate-x-full bg-white"
    tabindex="-1"
    aria-labelledby="drawer-navigation-label"
  >
    <h5
      id="drawer-navigation-label"
      class="text-base font-semibold text-gray-500 uppercase"
    >
      Menu
    </h5>
    <button
      type="button"
      data-drawer-hide="drawer-navigation"
      aria-controls="drawer-navigation"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <div class="py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        <li>
          <a
            routerLink="/home"
            class="hover:bg-gray-100 group flex items-center px-2 py-3 text-gray-900 rounded-lg"
            data-drawer-hide="drawer-navigation"
            aria-controls="drawer-navigation"
          >
            <span class="ms-3"> Home </span>
          </a>
        </li>

        <li>
          <a
            routerLink="/collection"
            class="hover:bg-gray-100 group flex items-center px-2 py-3 text-gray-900 rounded-lg"
            data-drawer-hide="drawer-navigation"
            aria-controls="drawer-navigation"
          >
            <span class="ms-3"> Collection </span>
          </a>
        </li>

        <li>
          <a
            routerLink="/about"
            class="hover:bg-gray-100 group flex items-center px-2 py-3 text-gray-900 rounded-lg"
            data-drawer-hide="drawer-navigation"
            aria-controls="drawer-navigation"
          >
            <span class="ms-3"> About </span>
          </a>
        </li>

        <li>
          <a
            routerLink="/contact"
            class="hover:bg-gray-100 group flex items-center px-2 py-3 text-gray-900 rounded-lg"
            data-drawer-hide="drawer-navigation"
            aria-controls="drawer-navigation"
          >
            <span class="ms-3"> Contact </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
