<div
  class="rounded-lg w-full overflow-auto border-[#ececec] dark:border-[#46525f] border-[1px] glass-effect not-bg-glass shadow-md relative max-w-screen-4xl p-3">
  <div class="pt-3 lg:px-3">
    <div class="text-2xl">
      <div class="flex flex-col justify-between sm:flex-row">
        <div class="flex">
          <div class="inline-flex items-center gap-2 mb-3">
            <p class="font-medium">Product</p>
            <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
          </div>
        </div>

        <div class="flex" *ngIf="!isLoading">
          <button class="mt-3 btn-primary whitespace-nowrap" matRipple matRippleColor="#ffffff80"
            routerLink="/admin/create-product">
            Create Product
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!productData && !isLoading">
      <div class="min-h-40">
        <p class="text-xl font-medium text-center">My order is empty</p>
      </div>
    </ng-container>

    <ng-container *ngIf="!productData && isLoading">
      <div class="min-h-40">
        <p class="text-xl font-medium text-center">Please wait...</p>
      </div>
    </ng-container>

    <ng-container *ngIf="productData">
      <ng-container *ngFor="let product of productData">
        <div
          class="flex flex-col items-start justify-between w-full gap-1 py-4 border-b sm:gap-3 lg:gap-5 md:items-center md:flex-row">
          <div class="md:w-3/6">
            <div>
              <div class="flex items-start gap-6 mt-2">
                <div>
                  <img src="{{urlEnv}}{{ product.image[0] }}" alt="" class="w-16 rounded-md cursor-pointer sm:w-20"
                    routerLink="/admin/product-detail/{{ product.id }}" />
                </div>
                <div>
                  <a class="text-base font-medium break-all hover:underline text-violet-700"
                    routerLink="/admin/product-detail/{{ product.id }}">{{ product.name }}</a>
                  <div *ngIf="product.price">Price: ${{ product.price }}</div>
                  <div class="flex items-center gap-2 mt-2">
                    <div *ngFor="let size of product.size" class="px-2 border rounded-md sm:px-3 sm:py-1 bg-slate-50">{{
                      size }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="md:w-2/6">
            <div>Category: <span class="capitalize">{{ product.category }}</span></div>
            <div>Is best seller: {{ product.is_best_seller ? 'Yes' : 'No' }}</div>
          </div>

          <div class="flex justify-end gap-3 md:w-1/6">
            <button class="mt-3 btn-primary whitespace-nowrap" routerLink="/admin/product-detail/{{ product.id }}"
              matRipple matRippleColor="#ffffff80">
              View
            </button>
            <button class="mt-3 btn-primary whitespace-nowrap" (click)="deleteProduct(product.id)" matRipple
              matRippleColor="#ffffff80">
              Delete
            </button>
          </div>
        </div>
      </ng-container>

      <div class="flex justify-center mt-5" *ngIf="productData.length >= 10 && productData.length < totalProducts">
        <button class="btn-primary" (click)="viewMore()" [disabled]="isLoading">
          View More
        </button>
      </div>
    </ng-container>
  </div>
</div>