<ul class="flex items-center gap-4">
  <li>
    <button class="" [ngClass]="isChoose == 1 ? 'btn-primary' : 'btn-outline-primary'" matRipple
      matRippleColor="#ffffff80" (click)="isChoose = 1">
      Product
    </button>
  </li>

  <li>
    <button class="" [ngClass]="isChoose == 2 ? 'btn-primary' : 'btn-outline-primary'" matRipple
      matRippleColor="#ffffff80" (click)="isChoose = 2">
      Orders
    </button>
  </li>
</ul>

<div class="my-5">
  <ng-container *ngIf="isChoose == 1">
    <app-admin-product></app-admin-product>
  </ng-container>
  <ng-container *ngIf="isChoose == 2">
    <app-admin-order></app-admin-order>
  </ng-container>
</div>