<ul class="flex items-center gap-4">
  <li>
    <button [ngClass]="isChoose == 1 ? 'btn-primary' : 'btn-outline-primary'" matRipple matRippleColor="#ffffff80"
      (click)="isChooseMenu(1)">
      Product
    </button>
  </li>

  <li>
    <button [ngClass]="isChoose == 2 ? 'btn-primary' : 'btn-outline-primary'" matRipple matRippleColor="#ffffff80"
      (click)="isChooseMenu(2)">
      Orders
    </button>
  </li>

  <li>
    <button [ngClass]="isChoose == 3 ? 'btn-primary' : 'btn-outline-primary'" matRipple matRippleColor="#ffffff80"
      (click)="isChooseMenu(3)">
      Overview
    </button>
  </li>
</ul>

<div class="my-5">
  <ng-container *ngIf="isChoose == 1">
    <app-admin-product></app-admin-product>
  </ng-container>
  <ng-container *ngIf="isChoose == 2">
    <app-admin-order></app-admin-order>
  </ng-container>
  <ng-container *ngIf="isChoose == 3">
    <app-admin-overview></app-admin-overview>
  </ng-container>
</div>