<div
  class="rounded-lg w-full overflow-auto border-[#ececec] dark:border-[#46525f] border-[1px] glass-effect not-bg-glass shadow-md relative max-w-screen-4xl p-3"
>
  <div class="lg:px-3 pt-3">
    <div class="mb-3 text-2xl">
      <div class="flex justify-between">
        <div class="inline-flex items-center gap-2 mb-3">
          <p class="font-medium">Change Password</p>
          <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
        </div>
      </div>
    </div>

    <div class="">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <div class="gap-y-1 flex flex-col items-start mb-2">
            <label class="leading-6 inline-block text-[15px]"
              >Current Password</label
            >
            <div class="relative w-full">
              <input
                autocomplete="off"
                placeholder="Current password"
                name="password"
                required
                minlength="8"
                [type]="showCurrent ? 'text' : 'password'"
                formControlName="currentPassword"
                class="w-full p-2.6 mt-1 mb-3 tracking-wider border-[1px] rounded-lg bg-[#fafafa] dark:bg-[#1b212c] focus:ring-0 placeholder:text-gray-500 dark:placeholder:text-gray-400 border-[#ececec] dark:border-[#46525f] outline-none dark:focus:border-violet-600 focus:border-violet-600 ng-untouched ng-pristine ng-invalid"
                type="password"
              />
              <div
                class="absolute right-2 top-[50%] translate-y-[-60%] p-2 cursor-pointer"
                (click)="showCurrent = !showCurrent"
              >
                <div class="eye" *ngIf="!showCurrent">
                  <svg
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                </div>
                <div class="eye-slash" *ngIf="showCurrent">
                  <svg
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="gap-y-1 flex flex-col items-start mb-2">
            <label class="leading-6 inline-block text-[15px]"
              >New Password</label
            >
            <div class="relative w-full">
              <input
                autocomplete="off"
                placeholder="New password"
                name="new-password"
                required
                minlength="8"
                [type]="showNew ? 'text' : 'password'"
                formControlName="newPassword"
                class="w-full p-2.6 mt-1 mb-3 tracking-wider border-[1px] rounded-lg bg-[#fafafa] dark:bg-[#1b212c] focus:ring-0 placeholder:text-gray-500 dark:placeholder:text-gray-400 border-[#ececec] dark:border-[#46525f] outline-none dark:focus:border-violet-600 focus:border-violet-600 ng-untouched ng-pristine ng-invalid"
                type="password"
              />
              <div
                class="absolute right-2 top-[50%] translate-y-[-60%] p-2 cursor-pointer"
                (click)="showNew = !showNew"
              >
                <div class="eye" *ngIf="!showNew">
                  <svg
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                </div>
                <div class="eye-slash" *ngIf="showNew">
                  <svg
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="gap-y-1 flex flex-col items-start mb-2">
            <label class="leading-6 inline-block text-[15px]"
              >Confirm Password</label
            >
            <div class="relative w-full">
              <input
                autocomplete="off"
                placeholder="Re-enter password"
                name="confirm-password"
                required
                minlength="8"
                [type]="showConfirm ? 'text' : 'password'"
                formControlName="confirmNewPassword"
                class="w-full p-2.6 mt-1 mb-3 tracking-wider border-[1px] rounded-lg bg-[#fafafa] dark:bg-[#1b212c] focus:ring-0 placeholder:text-gray-500 dark:placeholder:text-gray-400 border-[#ececec] dark:border-[#46525f] outline-none dark:focus:border-violet-600 focus:border-violet-600 ng-untouched ng-pristine ng-invalid"
                type="password"
              />
              <div
                class="absolute right-2 top-[50%] translate-y-[-60%] p-2 cursor-pointer"
                (click)="showConfirm = !showConfirm"
              >
                <div class="eye" *ngIf="!showConfirm">
                  <svg
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    ></path>
                  </svg>
                </div>
                <div class="eye-slash" *ngIf="showConfirm">
                  <svg
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0 a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full mt-3 text-center">
            <button
              type="submit"
              class="btn-primary w-full"
              [disabled]="isDisabled || passwordForm.invalid"
            >
              Change password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
